.App {
  margin: 0;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@font-face {
  font-family: "GeneralSans-Semibold";
  src: local("GeneralSans-Semibold"),
    url("./fonts/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: SemiBold;
}

@font-face {
  font-family: "GeneralSans-Bold";
  src: local("GeneralSans-Bold"),
    url("./fonts/GeneralSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "CabinetGrotesk-Black";
  src: local("CabinetGrotesk-Black"),
    url("./fonts/CabinetGrotesk-Black.ttf") format("truetype");
  font-weight: Black;
}
@font-face {
  font-family: "CabinetGrotesk-Extrabold";
  src: local("CabinetGrotesk-Extrabold"),
    url("./fonts/CabinetGrotesk-Extrabold.ttf") format("truetype");
  font-weight: Bold;
}
@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: local("CabinetGrotesk-Bold"),
    url("./fonts/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: local("CabinetGrotesk-Medium"),
    url("./fonts/CabinetGrotesk-Medium.ttf") format("truetype");
  font-weight: Medium;
}
@font-face {
  font-family: "CabinetGrotesk-Regular";
  src: local("CabinetGrotesk-Regular"),
    url("./fonts/CabinetGrotesk-Regular.ttf") format("truetype");
  font-weight: Regular;
}
@font-face {
  font-family: "CabinetGrotesk-Light";
  src: local("CabinetGrotesk-Light"),
    url("./fonts/CabinetGrotesk-Light.ttf") format("truetype");
  font-weight: Light;
}

@font-face {
  font-family: "GeneralSans-Medium";
  src: local("GeneralSans-Medium"),
    url("./fonts/GeneralSans-Medium.ttf") format("truetype");
  font-weight: Medium;
}
